// Default gradient to use
$gradient: linear-gradient(to right, #ff9966, #ff5e62)
    
html
    // Set font defaults
    font-family: 'Lato', sans-serif
    font-size: 16px

html, body
    // Make html and body fill page
    height: 100%
    width: 100%
    padding: 0

hr
    // Give all hr elements a consitant style
    display: block
    height: 1px
    border: 0
    border-top: 1px solid #ccc
    margin: 1em 0
    padding: 0

.vertically-centered-container
    // Wraps an element that needs to be vertically centered
    width: 100%
    height: 100%
    position: relative

%vertically-centered
    // Superclass for elements that are vertically centered in their
    // parent
    position: absolute
    top: 50%
    width: 100%
    transform: translate(0, -50%)

.hero-intro
    // Heading that informs the user what this app is
    @extend %vertically-centered
    text-align: center
    font-family: 'Goudy Old Style', serif
    padding-bottom: 12px
    top: 49%

    .title
        // "Journal" in big letter
        font-size: 3.8rem
        margin-top: 6px
        margin-bottom: 4px

    .tagline
        // Short description of app
        display: block
        margin-bottom: 16px
        font-size: 1.2rem
        color: #777

    .fancy-spacer 
        // Lines that add spacing and look like fancy caligraphy
        width: 80px
        margin: auto

        hr
            margin: 5px
            border-color: #ddd

    .overview
        // More detailed text description of app / elevator pitch
        width: 260px
        margin: auto
        font-size: 1rem
        margin-top: 25px
        margin-bottom: 67px
    
    .call-to-action
        // Primary button that prompts user to take some action
        // should be the center of attention for the page
        font-family: 'Lato', sans-serif
        font-size: 0.9em
        color: #fff
        background: $gradient
        border-radius: 20px
        padding: 14px 17px 13px 17px
        text-decoration: none
        box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.1)
        transition: box-shadow 0.5s

        &:hover
            box-shadow: 0 0 9px 3px #ff996699

/* Modals (like login/sign up popup)
 ==============================================================*/
body.modal-bg
    background: $gradient